<h1>Alarm Customization</h1>
<br>
    <div class="gasComponents">
        <ng-container *ngFor="let data of gasComponent">
           <span class="tag-label"><b>Tag: {{data.tag}}</b></span>
           <span class="name-label"><b> (Device Name: {{data.name}})</b></span>
            <div class="upperbound-lowerbound-container">
                <span class="upperbound">Upperbound
                    <input type="text" class="input-upperbound" (input)="onUpdate($event)">
                </span>
                <span class="lowerbound">Lowerbound
                    <input type="text" class="input-lowerbound" (input)="onUpdate($event)">
                </span>
            </div>
            <br>
        </ng-container>
    </div>
<div class="button">
    <button class="btn btn-primary" 
    disabled="upperbound === '' && lowerbound === ''"
    (click)="onUpdate($event)">Save</button>
</div>
