mat-card {
    margin-top: 250px; 
    margin-bottom: 120px;
    margin-right: 150px;
    margin-left: 250px;
    width: 50%;
    position: flex;

}

mat-card-header {
    margin: 0 auto;
    width: 30%;
}

form {
    margin: 0 auto;
    width: 45%;
}

mat-form-field {
    width: 100%;
}