<div mat-dialog-title>
    <h1>{{'details' | translate}}</h1>
</div>
<br>
<form [formGroup]="alarmCusForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Tag</mat-label>
                <input matInput type="text" formControlName="tag" [readonly]=true>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>{{'sampleName' | translate}}</mat-label>
                <input matInput type="text" formControlName="name" [readonly]=true>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>{{'Upperbound' | translate}}</mat-label>
                <input matInput type="text" formControlName="upperbound">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>{{'Lowerbound' | translate}}</mat-label>
                <input matInput type="text" formControlName="lowerbound">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">{{'cancel' | translate}}</button>
        <button mat-raised-button color="primary" type="submit">{{'update' | translate}}</button>
    </div>
</form>
