<h1>{{'dashboard' | translate}}</h1>
<br>

<div class="main-body">
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="tag">
        <th mat-header-cell *matHeaderCellDef> Tag </th>
        <td mat-cell *matCellDef="let data"> {{data.tag}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> {{'sampleName' | translate}} </th>
        <td mat-cell *matCellDef="let data"> {{data.name}} </td>
      </ng-container>
      <ng-container matColumnDef="expectedValue">
        <th mat-header-cell *matHeaderCellDef> {{'typicalValue' | translate}} </th>
        <td mat-cell *matCellDef="let data"> {{data.expectedValue}} </td>
      </ng-container>
      <ng-container matColumnDef="realtimeValue">
        <th mat-header-cell *matHeaderCellDef> {{'realtimeValue' | translate}} </th>
        <td mat-cell *matCellDef="let data"> {{data.realtimeValue}} </td>
      </ng-container>
      <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef> {{'unit' | translate}} </th>
        <td mat-cell *matCellDef="let data"> {{data.unit}} </td>
      </ng-container>
      <ng-container matColumnDef="designP">
        <th mat-header-cell *matHeaderCellDef> Design P (kPa(g)) </th>
        <td mat-cell *matCellDef="let data"> {{data.designP}} </td>
      </ng-container>

      <ng-container matColumnDef="action" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'action' | translate}} </th>
        <td mat-cell *matCellDef="let data">
          <button mat-icon-button color="primary" (click)="openEditForm(data)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let data; columns: displayColumns;"></tr>

    </table>
  </div>
</div>

<div class="language">
  <span class="fi fi-vn">
    <button mat-button (click)="useLanguage('vi')"></button>
  </span>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
  <span class="fi fi-us">
    <button mat-button (click)="useLanguage('en')"></button>
  </span>
</div>
