.sidenav {
    background: #A5D7E8;
    transition: all .5s ease;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 17.5625rem;
    height: 100vh;

    .thang-long-logo {
        display: flex;
        align-items: center;
        padding: 0.938rem 0.938rem 0 0.938rem;
        width: 100%;
    }
}

 
.esec-logo {
    align-items: center;
    position: absolute;
    bottom: 0;
            
    .esec-logo-img {
        height: 6rem;
        width: 100%;
        padding: 0.938rem 0.938rem 0 0.938rem;
    }    
}

.sidenav-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    .sidenav-nav-item {
        width: 100%;
        margin-bottom: 0.625rem;

        .sidenav-nav-link {
            display: flex;
            align-items: center;
            height: 3rem;
            color:  #0B2447;
            text-decoration: none;
            border-radius: 0.625rem;
            transition: color .3s ease;
    
            .sidenav-link-icon {
                font-size: 22px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
            }
    
            .sidenav-nav-text {
                margin-left: 1.5rem;
            }
        }
        
        .sidenav-nav-item:hover {
            background-color: #A5D7E8;
            color: #fff;

            .menu-collapse-icon {
                color: #000;
            }
        }
    }
}

.active {
    background-color: #fff;

    .menu-collapse-icon,
    .sidenav-nav-link,
    .sidenav-nav-text {
        color: #000;
    }
}

.active-sublevel {
    color: #f3f3f3 !important;
    opacity: 1 !important;
}

.menu-collapse-icon {
    font-size: 25px;
    width: 2rem;
    min-width: 2rem;
    margin: auto 0.5rem auto auto;
    text-align: center;
    color: #0B2447
}

.sublevel-nav {
    list-style: none;
    margin-left: 10px;

    .sublevel-nav-item {
        .sublevel-nav-link {
            display: flex;
            align-items: center;
            height: 3rem;
            color: #0B2447;
            text-decoration: none;
            border-radius: 0.625rem;
            transition: all .3s ease;

            .sublevel-link-icon {
                font-size: 4px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
            }

            .sublevel-link-text {
                margin-left: 0.8rem;
            }
        }

        .sublevel-nav-item:hover {
            color: #f3f3f3;

        }
    }
}

.scrollwrap {
    overflow-y: auto;
    visibility: hidden;
    height: calc(100% - 3.65rem);
}

.sidenav-nav,
.scrollwrap,
.scrollwrap:focus {
    visibility: visible;
}

.scrollwrap_delayed {
    transition: visibility 0.5s 0.2s;
}

// .scrollwrap_delayed:hover {
//     transition: visibility 0.2s 0.2s
// }

.scrollwrap::-webkit-scrollbar-track {
    background: transparent;
}

.scrollwrap::-webkit-scrollbar-thumb {
    background-color: #556268;
    border-radius: 20px;
}

.scrollwrap {
    scrollbar-width: thin;
    scrollbar-color: #556268 transparent;
}